.cmd{
    font-family: 'Quicksand', sans-serif;
}
mark{
    background-color: lightgray;
}
hr {
  height: 1px;
  background: #bbb;
  background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
  background-image: -moz-linear-gradient(left, #eee, #777, #eee);
  background-image: -ms-linear-gradient(left, #eee, #777, #eee);
  background-image: -o-linear-gradient(left, #eee, #777, #eee);
}
p {
font-family: 'Kosugi Maru', sans-serif;
}